# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Android relacionado (para la raíz)
/android/app/debug
/android/app/profile
/android/app/release
/android/app/build/
# Seguridad
key.properties
**/*.keystore
**/*.jks